@font-face {
  font-family: 'VTF Redzone Classic';
  src:
    url('/fonts/VTFRedzone-Classic.woff2') format('woff2'),
    url('/fonts/VTFRedzone-Classic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Sans';
  src:
    url('/fonts/UbuntuSans-Regular.woff2') format('woff2'),
    url('/fonts/UbuntuSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto md:px-10 w-full;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .h1-bold {
    @apply font-bold text-3xl lg:text-4xl;
  }

  .h2-bold {
    @apply font-bold text-2xl lg:text-3xl;
  }

  .h3-bold {
    @apply font-bold text-xl lg:text-2xl;
  }

  .pattern-grid {
    background-image: linear-gradient(to right, transparent, #000000),
      repeating-linear-gradient(334deg, #323231 0, #323231 2px, transparent 0, transparent 50%);
    background-size:
      100% 100%,
      34.5px 17px;
    background-color: #000000;
  }
  .pattern-grid-semitransparent {
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5)),
      repeating-linear-gradient(
        334deg,
        rgba(50, 50, 50, 0.5) 0,
        rgba(50, 50, 50, 0.5) 2px,
        transparent 0,
        transparent 50%
      );
    background-size:
      100% 100%,
      34.5px 17px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .button-gradient-1 {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.75), transparent);
  }
  .button-gradient-2 {
    background-image: linear-gradient(25deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9) 60%);
  }
}

@layer base {
  :root {
    --black: #000000;
    --background: #252529;
    --foreground: #ffffff;
    --card: 0 0% 100%;
    --card-foreground: #ffffff;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: #aee223;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: #ffffff;
    --muted-foreground: #ffffff;
    --accent: #aee223;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --label: #ffffff;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: 'Ubuntu Sans', sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Uploadthing button text override*/
html.dark .upload-field .text-white {
  color: #ffffff !important;
}
.upload-field .text-white {
  color: #000000 !important;
}
